.footer {
    background-color: black;
    margin-top: 200px;
    padding: 50px;
}

.jumbotron {
    margin: 0;
    background-color: black;
}

h5 {
    color: black;
}

p {
    color: black;
}

.row-content {
    padding: 50px;
}

.table {
    padding: auto;
    margin-top: 20px;
}

#patient-card {
    padding-top: 50px;
}